## Warm Up Exercise
Given two sorted list of integers, merge them into a single sorted list.

In [2]:
def merge_two_list(la, lb):
    lc = []
    pa = 0
    pb = 0
    
    for i in range(len(la) + len(lb)):
        if pa >= len(la):
            lc.append(lb[pb])
            pb += 1
        elif pb >= len(lb):
            lc.append(la[pa])
            pa += 1
        else:
            na = la[pa]
            nb = lb[pb]
            if na < nb:
                lc.append(na)
                pa += 1
            else:
                lc.append(nb)
                pb += 1
                
    return lc
                

la = [1, 4, 5, 19, 20, 34, 56]
lb = [1, 3, 4, 10, 11, 12, 19, 20, 21, 23, 25, 30, 35, 50]
lc = merge_two_list(la, lb)
assert lc == [1, 1, 3, 4, 4, 5, 10, 11, 12, 19, 19, 20, 20, 21, 23, 25, 30, 34, 35, 50, 56]

# Tuple

In [4]:
l = [1, 2, 3]
t = (1, 2, 3)
t

(1, 2, 3)

In [5]:
t[1]

2

In [6]:
t = ("Alice", 22, 3.8)
t

('Alice', 22, 3.8)

In [7]:
id(t)

140365441133312

In [8]:
t[0] = "Bob"

TypeError: 'tuple' object does not support item assignment

In [9]:
t = ("Bob", 22, 3.8)
t

('Bob', 22, 3.8)

In [10]:
id(t)

140364817938240

In [11]:
list_of_student = [
    ("Alice", 22, 3.8),
    ("Bob", 23, 3.9),
]
list_of_student

[('Alice', 22, 3.8), ('Bob', 23, 3.9)]

In [12]:
def example_function():
    return 1, 2

In [13]:
for item in t:
    print(item)

Bob
22
3.8

# Use dicationary as a set

## Exercise 
Insert elements of a list into a dictionary as keys, keep all the values as True.

In [14]:
## Complexity O(n)
def list_to_set(l):
    d = {}
    for elem in l:
        d[elem] = True # O(1)
    return d

In [15]:
l = [1, 3, 4, 6, 9, 10, 11]
d = list_to_set(l)
d # Set

{1: True, 3: True, 4: True, 6: True, 9: True, 10: True, 11: True}

Check if `num` is in list if `d` is available.

In [16]:
## Complexity O(1)
## Complexity when d is not available O(n)
def is_num_in_list(num, l, d):
    return num in d

In [17]:
l = [1, 3, 4, 6, 9, 10, 11]
d = list_to_set(l)
is_num_in_list(4, l, d)

True

## Exercise 
Two-Sum Problem: Given a list of integer numbers and a sum, find the indicies of two numbers in the list that has the sum of the given sum.

In [21]:
## Complexity of O(n^2)
def two_sum(l, num):
    for n in l: # O(n)
        target = num - n
        if target in l: # O(n)
            return n, target
    
    return -1, -1

l = [1, 3, 4, 6, 9, 10, 11]
assert two_sum(l, 12) == (1, 11) or two_sum(l, 12) == (3, 9)

In [22]:
def list_to_set(l):
    d = {}
    for elem in l:
        d[elem] = True # O(1)
    return d

## Complexity of O(n)
def two_sum(l, num):
    d = list_to_set(l) # O(n)
    
    for n in l: # n iterations -> O(n)
        target = num - n
        if target in d: # O(1)
            return n, target
    
    return -1, -1

l = [1, 3, 4, 6, 9, 10, 11]
assert two_sum(l, 12) == (1, 11) or two_sum(l, 12) == (3, 9)

## Histogram Pattern

## Exercise
Find the mode of an integer list.