In [1]:
## Pyramid

In [3]:
s = ""
s += str(1)
s += str(2)
print(s)

12

In [4]:
def test_pyramid():
    assert pyramid(1) == '1'
    assert pyramid(2) == '1\n1 2'
    assert pyramid(3) == '1\n1 2\n1 2 3'
    assert pyramid(4) == '1\n1 2\n1 2 3\n1 2 3 4'
    assert pyramid(5) == '1\n1 2\n1 2 3\n1 2 3 4\n1 2 3 4 5'

In [19]:
def pyramid(n):
    s = ""
    
    for i in range(n):
        # s += str(i)
        for j in range(i+1):
            if j == 0:
                s += str(j+1)
            else:
                s += "."+str(j+1)
        
        if i < n-1:
            s += "\n"
            
    return s

pyramid(2)

'1\n1.2'

In [ ]:
 1
 3 2
 6 5 4
10 9 8 7

In [22]:
s = ""
n = 8
if n < 10:
    s += "0" + str(n)
else:
    s += str(n)
print(s)

08

In [25]:
def build_str_backward(sn, count):
    s = ""
    for i in range(count):
        s += str(sn - i) + " "
    return s
        
build_str_backward(6, 3)

'6 5 4 '

In [28]:
def get_starting_number(row):
    sn = 0
    for i in range(row):
        sn += i + 1
    return sn
    
get_starting_number(3)

6

In [ ]:
i = 0, sn = 1
i = 1, sn = 1+2
i = 2, sn = 1+2+3

In [ ]:
## Pascal triangle
   j1  2. 3  4
i1 01
 2 01 01
 3 01 02 01
 4 01 03 03 01
    
Ni,j = 1 if j==1 or j==i
Ni,j = N(i-1),(j-1) + N(i-1),(j)

In [35]:
def pascal_number(i, j):
    if j == 0 or i == j:
        return 1
    return pascal_number(i-1, j-1) + pascal_number(i-1, j)

pascal_number(3, 1)

3

In [ ]:
    01
  01. 01
01  01  01

In [ ]:
  01
01. 01

In [ ]:
n = 1, i = 1, ns = 0
n = 2, i = 1, ns = 2
n = 2, i = 2, ns = 0
n = 3, i = 1, ns = 4
n = 4, i = 1, ns = 6
ns = 2(n-i)

# Containers

## List

In [37]:
l = []
print(l)

[]

In [38]:
type(l)

list

In [39]:
l = [1, 3, 4]

In [40]:
print(l)

[1, 3, 4]

In [41]:
l = [1, "ss", "4"]

In [42]:
l

[1, 'ss', '4']

In [43]:
l = [1, "ss", [1, "ss"]]

In [44]:
l

[1, 'ss', [1, 'ss']]

In [45]:
l[1]

'ss'

In [46]:
l[0]

1

In [47]:
l[2][0]

1

In [48]:
l[1.0]

TypeError: list indices must be integers or slices, not float

In [49]:
l[3]

IndexError: list index out of range

In [50]:
l[-1]

[1, 'ss']

In [51]:
l[-2]

'ss'

In [52]:
l[-4]

IndexError: list index out of range

## Exercise: Use list as a look up table. 
Given a month number from 1 to 12, return the string representation ("Jan") of the month.

## Exercise: 
Given a week day number from 1 to 7, return the string representation ("Monday").

In [54]:
def week_day_number_to_week_day_name(n):
    table = [
        'Invalid',
        'Monday', 
        'Tuesday',
        'Wed',
        'Thur',
    ]
    return table[n]

week_day_number_to_week_day_name(3)

'Wed'

In [55]:
def week_day_number_to_week_day_name(n):
    table = [
        'Monday', 
        'Tuesday',
        'Wed',
        'Thur',
    ]
    return table[n-1]

week_day_number_to_week_day_name(3)

'Wed'

## Insert Element in a list

In [56]:
l = [1, 2]
l.append(3)
l

[1, 2, 3]

In [57]:
l2 = [3, 4, 5, 6,]
l3 = [9, 8, 7, 6]
l2.append(9)
print(l2, l3)

[3, 4, 5, 6, 9] [9, 8, 7, 6]

In [59]:
l = l2 + l3
l

[3, 4, 5, 6, 9, 9, 8, 7, 6]

In [60]:
print(l2, l3)

[3, 4, 5, 6, 9] [9, 8, 7, 6]

In [61]:
l2.append(10)
print(l2, l3, l)

[3, 4, 5, 6, 9, 10] [9, 8, 7, 6] [3, 4, 5, 6, 9, 9, 8, 7, 6]

In [62]:
l2.insert(4, 14)
l2

[3, 4, 5, 6, 14, 9, 10]

In [63]:
len(l2)

7

## Exercise
Given a list, print every element in the list.

In [65]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(l)):
    print(i, l[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [66]:
for n in l:
    print(n)

1
2
3
4
5
6
7
8
9
10

## Exercise
Use for-in loop to print both index and element in a list.

In [67]:
def add_one(n):
    n = n + 1
    
n = 3
add_one(n)
print(n)

3

In [68]:
def add_one_elem(l):
    l.append(10)

l = [1, 2, 3]
add_one_elem(l)
print(l)

[1, 2, 3, 10]