## Warm up exercise
Define a function that check if a number is even. If the number is even, return true. Otherwise, return false.

In [12]:
def is_even(num):
    if num % 2 == 0:
        print("return from line 3")
        print(True)
        
        # return True
    
    print("return from line 5")
    print(False)
    # return False
    
print(is_even(1))

if is_even(2):
    print("Even")
else:
    print("Odd")

return from line 5
False
None
return from line 3
True
return from line 5
False
Odd

In [13]:
def is_even(num):
    if num % 2 == 0:
        print("return from line 3")
        # print(True)
        return True
    
    print("return from line 5")
    # print(False)
    return False
    
print(is_even(1))

return from line 5
False

## Exercise 1
Given a year, return true if it is a leap year.

## Exercise 2
Given a month in the format of 3 letter name, return the number that represent the month.

In [14]:
a  = 2
a += 1
a

3

## Stack

In [17]:
def add_one(a):
    print("second", id(a))
    a = a + 1 # a += 1
    print("third", id(a))
    
a = 2
print("first", id(a))
add_one(a)
print("fourth", id(a))
print(a)

first 140348300656912
second 140348300656912
third 140348300656944
fourth 140348300656912
2

In [18]:
def add_one(a):
    print("second", id(a))
    a = a + 1 # a += 1
    print("third", id(a))
    return a
    
a = 2
print("first", id(a))
a = add_one(a)
print("fourth", id(a))
print(a)

first 140348300656912
second 140348300656912
third 140348300656944
fourth 140348300656944
3

In [16]:
def div_zero(a):
    a = a/0
    
a = 2
div_zero(a)
print(a)

ZeroDivisionError: division by zero

## BMI Calculator
calculate bmi, 2 args, weight, height

In [22]:
def calculate_bmi(weight, height):
    # Bad name bmi calculation
    bmi = weight / height / height
    return bmi

calculate_bmi(100, 1.73)

33.41240936883959

## Max in three numbers
Write a function that takes 3 integer arguments, return the largest one.

In [33]:
def max_in_three(a, b, c):
    max = a
    
    if max < b:
        max = b
    
    if max < c:
        max = c
    
    return max
        
    
max_in_three(4, 1, 2)

4

## Max in four numbers (use the max_in_three function)

In [30]:
max(1, 2, 3)

3

## Absolute Value

## F to C

## Factorial
Given a number between 1-10, return the factorial of the value